{namespace e=Flowpack\Expose\ViewHelpers}
<div class="form-group {e:form.propertyHasResults(property: propertySchema.formName, then: 'has-error')}">
	<label for="{propertySchema.formId}" class="col-sm-3 control-label">{propertySchema.label}</label>
	<div class="col-sm-9">
		{control -> f:format.raw()}

		<f:if condition="{propertySchema.infotext}"><p class="help-block">{propertySchema.infotext}</p></f:if>

		<e:form.propertyResults property="{propertySchema.formName}">
			<f:for each="{errors}" as="error">
				<p class="help-block">{error.message}</p>
			</f:for>
		</e:form.propertyResults>
	</div>
</div>