<f:layout name="bootstrap" />
{namespace cm=Foo\ContentManagement\ViewHelpers}

<f:section name="full">
	<form method="post">
		<div class="list-actions">
			<div class="pull-left">
				<cm:render partial="Toolbar" fallbacks="Partials" vars="{actions: bulkActions}" />
			</div>
			<div class="pull-right">
				<f:for each="{topBarActions}" as="action">
					<f:render partial="ActionButton" arguments="{action: action, class: className}" />
				</f:for>
			</div>
		</div>
		<cm:render.list objects="{objects}" arguments="{className: className, listActions: listActions}" />
	</form>
</f:section>