<f:layout name="Default" />
{namespace e=TYPO3\Expose\ViewHelpers}

<f:section name="Content">
	<f:form action="create" object="{entity}" objectName="entity" class="form-horizontal">
		<f:for each="{fieldsets}" as="fieldset">
		<fieldset>
			{fieldset.name}
			<f:for each="{fieldset.fields}" as="field">
				<e:form.field property="{field}" id="{field}" class="form-control" wrap="Default" />
			</f:for>
		</fieldset>
		</f:for>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<f:form.submit value="Create" class="btn btn-default" />
			</div>
		</div>
	</f:form>
</f:section>