{namespace e=Flowpack\Expose\ViewHelpers}
<f:for each="{entities}" as="entity">
	<tr>
		<td class="batch">
			<f:form.checkbox name="entities[]" value="{e:format.uuid(object: entity)}" class="select-row" />
		</td>
		<f:for each="{schema.listProperties}" as="property" iteration="iteration">
			<td>
				<e:property object="{entity}" property="{property}" />
				<f:if condition="{iteration.isFirst}">
					<div class="expose-actions">
						<f:render partial="Table/Actions" arguments="{entity: entity, controller: controller}" />
					</div>
				</f:if>
			</td>
		</f:for>
	<tr>
</f:for>