{namespace e=Flowpack\Expose\ViewHelpers}
<e:process objects="{entities}" processors="{schema.listProcessors}">
	<f:form action="batch">
	<div class="row">
		<div class="col-xs-12">
			<div class="row expose-toolbar">
				<div class="col-xs-4">
					<div class="expose-batch-control">
						<e:actions type="batch">
							<f:form.select name="batchAction" options="{actions}" class="form-control" />
						</e:actions>
						<button type="submit" class="btn btn-default pull-left">Execute</button>
					</div>
				</div>
				<div class="col-xs-6">
					<e:block name="top"/>
				</div>
			</div>
			<table class="table table-bordered table-striped expose-table">
				<e:render partial="Table/Header" />
				<e:render partial="Table/Body" />
			</table>
			<e:block name="bottom" />
		</div>
		<e:block name="sidebar" />
	</div>
	</f:form>
</e:process>