<f:layout name="Login" />
{namespace e=Flowpack\Expose\ViewHelpers}

<f:section name="Content">
  <div class="typo3-expose-login clearfix">
    <f:form action="authenticate" method="post">
      <div class="form-group">
        <label for="inputEmail3" class="control-label">Benutzername</label>
        <f:form.textfield name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]" placeholder="Benutzername" tabindex="1" class="form-control" />
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="control-label">Passwort</label>
        <f:form.password  name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]" placeholder="Passwort" tabindex="2" class="form-control" />
      </div>
      <e:flashMessages />

      <button type="submit" class="btn btn-default pull-right">Anmelden</button>
      <f:link.action action="forgotPassword">
        <span class="glyphicon glyphicon-envelope"></span> &nbsp; Passwort vergessen
      </f:link.action><br />
      <f:link.action action="index" controller="Registration" package="Flowpack.Expose">
        <span class="glyphicon glyphicon-user"></span> &nbsp; Registrieren
      </f:link.action>
    </f:form>
  </div>
</f:section>