{namespace e=Flowpack\Expose\ViewHelpers}
<f:form.password name="{propertySchema.formName}[password]" id="{propertySchema.formId}" class="{class}" value="" additionalAttributes="{additionalAttributes}"/>

<span class="form-control-confirmation"><f:translate id="{propertySchema.translationId}.confirmation.label">Confirmation:</f:translate></span>

<f:form.password name="{propertySchema.formName}[confirmation]" id="{propertySchema.formId}-confirmation" class="{class}" value="" additionalAttributes="{additionalAttributes}"/>