<ul class="pagination">
	<f:for each="{limits}" as="active" key="limit">
		<f:if condition="{active}" ><f:then><li class="active"></f:then><f:else><li></f:else></f:if>
			<f:link.action action="index" addQueryString="true" arguments="{limit: limit}">{limit}</f:link.action>
		</li>
	</f:for>
</ul>

<ul class="pagination pull-right">
	<f:if condition="{pagination.prevPage}">
		<li><f:link.action action="index" addQueryString="true" arguments="{page: pagination.prevPage}">prev</f:link.action></li>
	</f:if>
	<f:for each="{pagination.pages}" as="page">
		<f:if condition="{pagination.currentPage} == {page}" ><f:then><li class="active"></f:then><f:else><li></f:else></f:if>
			<f:link.action action="index" addQueryString="true" arguments="{page: page}">{page}</f:link.action>
		</li>
	</f:for>
	<f:if condition="{pagination.nextPage}">
		<li><f:link.action action="index" addQueryString="true" arguments="{page: pagination.nextPage}">next</f:link.action></li>
	</f:if>
</ul>