// Layouting
.t3-expose-form {
	border: 1px solid #E1E1E1;
	padding-top: 0px;
	margin-bottom: 20px;
	background: #F9F9F9;

	legend {
		padding: 0px 20px;
		margin-bottom: 0;
	}
}

.t3-expose-form > .t3-expose-page{
	margin: 0 10px;
}

.typo3-expose-form-actions {
	border-top: 1px solid #E1E1E1;
	background: white;

	ul {
		margin: 0px;
		padding: 10px;
		overflow: hidden;
	}

	li {
		float: right;
	}
}

.t3-expose-inline {
	overflow: hidden;
	margin-bottom: 20px;
	table {
		.t3-expose-form-group { margin: 0; }
		.t3-expose-control-label { display: none; }
		.t3-expose-form-controls { width: 100%; }
		.form-control { margin-left: 0; width: 100%; }
		th { border-top: none; }
	}

	& > h5 {
		margin-bottom: 0;
	}

	.t3-expose-inline-item {
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.close {
		line-height: 10px;
	}
}

.t3-expose-inline-item {
	.close {
		display: none;
	}
}

.t3-expose-inline-multiple {
	.t3-expose-inline-item {
		.close {
			display: block;
		}
	}

	.t3-expose-inline-item-template,
	.t3-expose-inline-item-unused {
		.close {
			display: none;
		}
	}
}

.t3-expose-inline-stacked {
	background: #F9F9F9;
	border: 1px solid #e1e1e1;
	padding: 0 10px;

	.t3-expose-inline-item {
		background: #FFFFFF;
		border: 1px solid #e1e1e1;
		margin: 10px 0;
		padding: 0px 10px 0;
	}
	.glyphicon {
		margin-top: 10px;
		display: block;
	}
}

.t3-expose-inline-stacked-fields {
	padding-top: 10px;
	overflow: hidden;
}

.t3-expose-inline-multiple {
	.t3-expose-inline-stacked-fields {
		margin-right: 30px;
		border-right: 1px solid #e1e1e1;
		padding-right: 10px;
	}

	.t3-expose-inline-stacked-toolbar {
		display: block;
		float: right;
	}
}

.t3-expose-inline-seamless {
	margin: 0;
	legend {
		padding: 0;
	}
}

.t3-expose-section,
.t3-expose-page {
	margin: 0;
}

.t3-expose-section {
	border: 1px solid #e1e1e1;
	margin: 10px 0;
	padding: 10px 10px 0;
	background: white;
}

.form-navigation {
	ul,
	li {
		list-style: none;
	}

	ul {
		margin-left: 0;
	}
}

.t3-expose-inline + .control-group {
	margin-top: 20px;
}

.selectbox { overflow:hidden; }
	.selectbox a { text-decoration:none; }
	.selectbox-available { width:260px; float:left; }
		.selectbox-search { height:30px; }
		.selectbox-available input { width:250px; border:1px solid #ccc; }
		.selectbox-available select { width:260px; border:1px solid #ccc; }
		.selectbox-all { text-align:center; }
	.selectbox-selected { width:260px; float:left;}
		.selectbox-header { font-weight:bold; line-height:2; }
		.selectbox-info { font-size:12px; height:22px; padding:4px; }
		.selectbox-selected select { width:262px; border:1px solid #ccc; }
		.selectbox-clear { text-align:center; }
	.selectbox-toolbar { float:left; width:30px; margin-top:110px; text-align:center; }
		.selectbox-toolbar a { display:block; font-weight:bold; }