
// Node Tree on left side
.t3-ui .nav-list > li {
	> a {
		text-shadow:none;
		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
	}
	&.active > a, &.active > a:hover {
		background: rgba(255, 255, 255, 0.3);
	}
}

.t3-expose-recordlist {
	// A single node
	.widget {
		background-color: darken(#e8e8e8, 20);
		height: 130px;
		h3 {
			font-size:120%;
		}
		&.typo3-expose-active {
			background-color: #eaeaea;
		}
	}

	& > .span12 {
		position: relative;
	}

	.pagination {
		margin: 0;
		a {
			color: black;
			font-size: 14px;
			line-height: 28px;
		}
	}

	th.tiny,
	td.tiny {
		width: 15px;
	}

	.table-actions {
		max-width: 250px;
	}
}