body.layout-default {
  padding-top: 80px;
}
body.layout-login {
  background: #3b3e40;
}
.typo3-expose-login {
  width: 330px;
  margin: 100px auto 0;
  background: #f4f6f9;
  padding: 20px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.3);
}
.typo3-expose-login label {
}
.typo3-expose-login input,
.typo3-expose-login button {
  border-radius: 0;
}
.expose-table th.batch,
.expose-table td.batch{
  width: 30px;
}
.expose-toolbar {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}
.expose-batch-control select.form-control{
  width: auto;
  float: left;
  margin-right: 10px;
}
.expose-batch-control select.button{
  float: left;
}
.expose-table {
  margin-bottom: 10px;
}
.expose-limits,
.expose-pagination {
  margin: 0;
}
.expose-actions {
  visibility: hidden;
}
.expose-table tr:hover .expose-actions {
  visibility: visible;
}
.expose-actions ul {
  margin: 5px 0 0px;
  overflow: hidden;
}
.expose-actions ul li {
  border-left: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  line-height: 14px;
}
.expose-actions ul li:first-child {
  border-left: none;
}
.expose-actions ul li a:hover {
  text-decoration: none;
}
.expose-search {
  float: right;
}
.sort:hover {
  text-decoration: none;
}
.sort i{
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sort-asc i:before {
  content: "\e155";
}
.sort-desc i:before {
  content: "\e156";
}