/* line 1, _mixins.scss */
body:not(.js) .js {
  display: none; }

/* line 4, _mixins.scss */
body.js .nojs {
  display: none; }

/* line 10, _mixins.scss */
.t3-ui .nav-list ul {
  padding: 0; }
/* line 13, _mixins.scss */
.t3-ui .nav-list li a {
  margin: 0px; }
/* line 14, _mixins.scss */
.t3-ui .nav-list li a {
  padding-left: 10px; }
/* line 15, _mixins.scss */
.t3-ui .nav-list li li a {
  padding-left: 20px; }
/* line 16, _mixins.scss */
.t3-ui .nav-list li li li a {
  padding-left: 30px; }
/* line 19, _mixins.scss */
.t3-ui .bar {
  padding: 0 0 15px;
  height: 30px; }
  /* line 22, _mixins.scss */
  .t3-ui .bar .pull-left {
    margin-right: 10px; }
  /* line 25, _mixins.scss */
  .t3-ui .bar .pull-right {
    margin-left: 10px; }

/* line 4, _recordlist.scss */
.t3-ui .nav-list > li > a {
  text-shadow: none; }
  /* line 6, _recordlist.scss */
  .t3-ui .nav-list > li > a:hover {
    background: rgba(255, 255, 255, 0.1); }
/* line 10, _recordlist.scss */
.t3-ui .nav-list > li.active > a, .t3-ui .nav-list > li.active > a:hover {
  background: rgba(255, 255, 255, 0.3); }

/* line 17, _recordlist.scss */
.t3-expose-recordlist .widget {
  background-color: #b5b5b5;
  height: 130px; }
  /* line 20, _recordlist.scss */
  .t3-expose-recordlist .widget h3 {
    font-size: 120%; }
  /* line 23, _recordlist.scss */
  .t3-expose-recordlist .widget.typo3-expose-active {
    background-color: #eaeaea; }
/* line 28, _recordlist.scss */
.t3-expose-recordlist > .span12 {
  position: relative; }
/* line 32, _recordlist.scss */
.t3-expose-recordlist .pagination {
  margin: 0; }
  /* line 34, _recordlist.scss */
  .t3-expose-recordlist .pagination a {
    color: black;
    font-size: 14px;
    line-height: 28px; }
/* line 42, _recordlist.scss */
.t3-expose-recordlist th.tiny,
.t3-expose-recordlist td.tiny {
  width: 15px; }
/* line 46, _recordlist.scss */
.t3-expose-recordlist .table-actions {
  max-width: 250px; }

/* line 57, _recordlist.scss */
.t3-expose-recordlist .bar {
  overflow: hidden;
  margin: 10px 0; }
/* line 62, _recordlist.scss */
.t3-expose-recordlist .actionBar {
  position: absolute;
  right: 0;
  width: 152px;
  height: 100%;
  border-left: none;
  background: #E8E8E8;
  border-right: 1px solid #777777;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  overflow: hidden;
  z-index: 20; }
/* line 77, _recordlist.scss */
.t3-expose-recordlist .actionBar > div {
  padding: 10px; }
/* line 82, _recordlist.scss */
.t3-expose-recordlist.hiddenActionBar [data-area=actionBar] {
  opacity: 0;
  display: none; }
/* line 86, _recordlist.scss */
.t3-expose-recordlist.hiddenActionBar [data-area=main] {
  margin-right: 0; }
/* line 90, _recordlist.scss */
.t3-expose-recordlist [data-area=main], .t3-expose-recordlist [data-area=actionBar] {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
/* line 93, _recordlist.scss */
.t3-expose-recordlist [data-area=main] {
  -webkit-transition-property: margin-right;
  -moz-transition-property: margin-right;
  -o-transition-property: margin-right;
  transition-property: margin-right;
  margin-right: 150px; }
/* line 97, _recordlist.scss */
.t3-expose-recordlist [data-area=actionBar] {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  opacity: 1; }
/* line 102, _recordlist.scss */
.t3-expose-recordlist .t3-records > .typo3-expose-active {
  background: #eee;
  margin-right: 0px;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 10;
  position: relative;
  margin-right: -1px; }

/* line 2, _Inline.scss */
.t3-expose-inline .t3-expose-inline-item-template {
  display: none; }

/* line 4, _Form.scss */
.t3-expose-form legend {
  padding: 0px 20px;
  margin-bottom: 0; }
/* line 9, _Form.scss */
.t3-expose-form .t3-expose-inline {
  margin: 20px;
  overflow: hidden; }
  /* line 13, _Form.scss */
  .t3-expose-form .t3-expose-inline table .control-group {
    margin: 0; }
  /* line 14, _Form.scss */
  .t3-expose-form .t3-expose-inline table .control-group > label {
    display: none; }
  /* line 15, _Form.scss */
  .t3-expose-form .t3-expose-inline table .controls {
    margin-left: 0; }
  /* line 16, _Form.scss */
  .t3-expose-form .t3-expose-inline table .controls input, .t3-expose-form .t3-expose-inline table select {
    width: 130px; }
  /* line 17, _Form.scss */
  .t3-expose-form .t3-expose-inline table th {
    border-top: none; }
  /* line 20, _Form.scss */
  .t3-expose-form .t3-expose-inline > h5 {
    margin-bottom: 0; }
  /* line 24, _Form.scss */
  .t3-expose-form .t3-expose-inline .t3-expose-inline-item {
    padding-top: 10px;
    padding-bottom: 20px; }
  /* line 29, _Form.scss */
  .t3-expose-form .t3-expose-inline .close {
    margin-right: 20px;
    line-height: 10px; }
/* line 36, _Form.scss */
.t3-expose-form .t3-expose-inline-item .close {
  display: none; }
/* line 43, _Form.scss */
.t3-expose-form .t3-expose-inline-multiple .t3-expose-inline-item .close {
  display: block; }
/* line 50, _Form.scss */
.t3-expose-form .t3-expose-inline-multiple .t3-expose-inline-item-template .close,
.t3-expose-form .t3-expose-inline-multiple .t3-expose-inline-item-unused .close {
  display: none; }
/* line 56, _Form.scss */
.t3-expose-form .t3-expose-inline-seamless {
  margin: 0; }
  /* line 58, _Form.scss */
  .t3-expose-form .t3-expose-inline-seamless legend {
    padding: 0; }
/* line 64, _Form.scss */
.t3-expose-form .t3-expose-section,
.t3-expose-form .t3-expose-page {
  margin: 0; }
/* line 70, _Form.scss */
.t3-expose-form .form-navigation ul,
.t3-expose-form .form-navigation li {
  list-style: none; }
/* line 74, _Form.scss */
.t3-expose-form .form-navigation ul {
  margin-left: 0; }
/* line 79, _Form.scss */
.t3-expose-form .t3-expose-inline + .control-group {
  margin-top: 20px; }

/* line 96, _Form.scss */
.t3-expose-form_ {
  background: #ffffff;
  border: 1px solid silver;
  -moz-box-shadow: #cccccc 0px 3px 5px;
  -webkit-box-shadow: #cccccc 0px 3px 5px;
  box-shadow: #cccccc 0px 3px 5px; }
  /* line 99, _Form.scss */
  .t3-expose-form_ fieldset > h5 {
    background: #EFF5F8;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    padding: 0.5em 20px;
    text-shadow: white 0px 1px;
    margin-top: -1px; }
  /* line 108, _Form.scss */
  .t3-expose-form_ .t3-expose-inline {
    background: #ffffff;
    border: 1px solid silver;
    -moz-box-shadow: #cccccc 0px 3px 5px;
    -webkit-box-shadow: #cccccc 0px 3px 5px;
    box-shadow: #cccccc 0px 3px 5px; }
    /* line 111, _Form.scss */
    .t3-expose-form_ .t3-expose-inline > h5 {
      background: whiteSmoke; }
    /* line 115, _Form.scss */
    .t3-expose-form_ .t3-expose-inline .t3-expose-inline-item {
      border-bottom: 1px solid #dddddd; }
    /* line 119, _Form.scss */
    .t3-expose-form_ .t3-expose-inline .t3-expose-inline-item-unused {
      background: #FAFAFA; }
    /* line 123, _Form.scss */
    .t3-expose-form_ .t3-expose-inline .control-group {
      margin: 10px 20px 0; }
  /* line 128, _Form.scss */
  .t3-expose-form_ .t3-expose-inline-seamless {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    /* line 137, _Form.scss */
    .t3-expose-form_ .t3-expose-inline-seamless .control-group {
      margin: 10px 0 0; }

/* line 2, _Modal.scss */
.typo3-expose .modal {
  position: static;
  top: auto;
  left: auto;
  margin: 0; }
