/* line 1, _mixins.scss */
body:not(.js) .js {
  display: none; }

/* line 4, _mixins.scss */
body.js .nojs {
  display: none; }

/* line 10, _mixins.scss */
.t3-ui .nav-list ul {
  padding: 0; }
/* line 13, _mixins.scss */
.t3-ui .nav-list li a {
  margin: 0px; }
/* line 14, _mixins.scss */
.t3-ui .nav-list li a {
  padding-left: 10px; }
/* line 15, _mixins.scss */
.t3-ui .nav-list li li a {
  padding-left: 20px; }
/* line 16, _mixins.scss */
.t3-ui .nav-list li li li a {
  padding-left: 30px; }
/* line 19, _mixins.scss */
.t3-ui .bar {
  padding: 0 0 15px;
  height: 30px; }
  /* line 22, _mixins.scss */
  .t3-ui .bar .pull-left {
    margin-right: 10px; }
  /* line 25, _mixins.scss */
  .t3-ui .bar .pull-right {
    margin-left: 10px; }

/* line 4, _recordlist.scss */
.t3-ui .nav-list > li > a {
  text-shadow: none; }
  /* line 6, _recordlist.scss */
  .t3-ui .nav-list > li > a:hover {
    background: rgba(255, 255, 255, 0.1); }
/* line 10, _recordlist.scss */
.t3-ui .nav-list > li.active > a, .t3-ui .nav-list > li.active > a:hover {
  background: rgba(255, 255, 255, 0.3); }

/* line 17, _recordlist.scss */
.t3-expose-recordlist .widget {
  background-color: #b5b5b5;
  height: 130px; }
  /* line 20, _recordlist.scss */
  .t3-expose-recordlist .widget h3 {
    font-size: 120%; }
  /* line 23, _recordlist.scss */
  .t3-expose-recordlist .widget.typo3-expose-active {
    background-color: #eaeaea; }
/* line 28, _recordlist.scss */
.t3-expose-recordlist > .span12 {
  position: relative; }
/* line 32, _recordlist.scss */
.t3-expose-recordlist .pagination {
  margin: 0; }
  /* line 34, _recordlist.scss */
  .t3-expose-recordlist .pagination a {
    color: black;
    font-size: 14px;
    line-height: 28px; }
/* line 42, _recordlist.scss */
.t3-expose-recordlist th.tiny,
.t3-expose-recordlist td.tiny {
  width: 15px; }
/* line 46, _recordlist.scss */
.t3-expose-recordlist .table-actions {
  max-width: 250px; }

/* line 2, _Inline.scss */
.t3-expose-inline .t3-expose-inline-item-template {
  display: none; }

/* line 2, _Form.scss */
.t3-expose-form {
  border: 1px solid #E1E1E1;
  padding-top: 0px;
  margin-bottom: 20px;
  background: #F9F9F9; }
  /* line 8, _Form.scss */
  .t3-expose-form legend {
    padding: 0px 20px;
    margin-bottom: 0; }

/* line 14, _Form.scss */
.t3-expose-form > .t3-expose-page {
  margin: 0 10px; }

/* line 18, _Form.scss */
.typo3-expose-form-actions {
  border-top: 1px solid #E1E1E1;
  background: white; }
  /* line 22, _Form.scss */
  .typo3-expose-form-actions ul {
    margin: 0px;
    padding: 10px;
    overflow: hidden; }
  /* line 28, _Form.scss */
  .typo3-expose-form-actions li {
    float: right; }

/* line 33, _Form.scss */
.t3-expose-inline {
  overflow: hidden;
  margin-bottom: 20px; }
  /* line 37, _Form.scss */
  .t3-expose-inline table .t3-expose-form-group {
    margin: 0; }
  /* line 38, _Form.scss */
  .t3-expose-inline table .t3-expose-control-label {
    display: none; }
  /* line 39, _Form.scss */
  .t3-expose-inline table .t3-expose-form-controls {
    width: 100%; }
  /* line 40, _Form.scss */
  .t3-expose-inline table .form-control {
    margin-left: 0;
    width: 100%; }
  /* line 41, _Form.scss */
  .t3-expose-inline table th {
    border-top: none; }
  /* line 44, _Form.scss */
  .t3-expose-inline > h5 {
    margin-bottom: 0; }
  /* line 48, _Form.scss */
  .t3-expose-inline .t3-expose-inline-item {
    padding-top: 10px;
    padding-bottom: 20px; }
  /* line 53, _Form.scss */
  .t3-expose-inline .close {
    line-height: 10px; }

/* line 59, _Form.scss */
.t3-expose-inline-item .close {
  display: none; }

/* line 66, _Form.scss */
.t3-expose-inline-multiple .t3-expose-inline-item .close {
  display: block; }
/* line 73, _Form.scss */
.t3-expose-inline-multiple .t3-expose-inline-item-template .close,
.t3-expose-inline-multiple .t3-expose-inline-item-unused .close {
  display: none; }

/* line 79, _Form.scss */
.t3-expose-inline-stacked {
  background: #F9F9F9;
  border: 1px solid #e1e1e1;
  padding: 0 10px; }
  /* line 84, _Form.scss */
  .t3-expose-inline-stacked .t3-expose-inline-item {
    background: #FFFFFF;
    border: 1px solid #e1e1e1;
    margin: 10px 0;
    padding: 0px 10px 0; }
  /* line 90, _Form.scss */
  .t3-expose-inline-stacked .glyphicon {
    margin-top: 10px;
    display: block; }

/* line 96, _Form.scss */
.t3-expose-inline-stacked-fields {
  padding-top: 10px;
  overflow: hidden; }

/* line 102, _Form.scss */
.t3-expose-inline-multiple .t3-expose-inline-stacked-fields {
  margin-right: 30px;
  border-right: 1px solid #e1e1e1;
  padding-right: 10px; }
/* line 108, _Form.scss */
.t3-expose-inline-multiple .t3-expose-inline-stacked-toolbar {
  display: block;
  float: right; }

/* line 114, _Form.scss */
.t3-expose-inline-seamless {
  margin: 0; }
  /* line 116, _Form.scss */
  .t3-expose-inline-seamless legend {
    padding: 0; }

/* line 122, _Form.scss */
.t3-expose-section,
.t3-expose-page {
  margin: 0; }

/* line 126, _Form.scss */
.t3-expose-section {
  border: 1px solid #e1e1e1;
  margin: 10px 0;
  padding: 10px 10px 0;
  background: white; }

/* line 135, _Form.scss */
.form-navigation ul,
.form-navigation li {
  list-style: none; }
/* line 139, _Form.scss */
.form-navigation ul {
  margin-left: 0; }

/* line 144, _Form.scss */
.t3-expose-inline + .control-group {
  margin-top: 20px; }

/* line 148, _Form.scss */
.selectbox {
  overflow: hidden; }

/* line 149, _Form.scss */
.selectbox a {
  text-decoration: none; }

/* line 150, _Form.scss */
.selectbox-available {
  width: 260px;
  float: left; }

/* line 151, _Form.scss */
.selectbox-search {
  height: 30px; }

/* line 152, _Form.scss */
.selectbox-available input {
  width: 250px;
  border: 1px solid #ccc; }

/* line 153, _Form.scss */
.selectbox-available select {
  width: 260px;
  border: 1px solid #ccc; }

/* line 154, _Form.scss */
.selectbox-all {
  text-align: center; }

/* line 155, _Form.scss */
.selectbox-selected {
  width: 260px;
  float: left; }

/* line 156, _Form.scss */
.selectbox-header {
  font-weight: bold;
  line-height: 2; }

/* line 157, _Form.scss */
.selectbox-info {
  font-size: 12px;
  height: 22px;
  padding: 4px; }

/* line 158, _Form.scss */
.selectbox-selected select {
  width: 262px;
  border: 1px solid #ccc; }

/* line 159, _Form.scss */
.selectbox-clear {
  text-align: center; }

/* line 160, _Form.scss */
.selectbox-toolbar {
  float: left;
  width: 30px;
  margin-top: 110px;
  text-align: center; }

/* line 161, _Form.scss */
.selectbox-toolbar a {
  display: block;
  font-weight: bold; }
