body:not(.js) .js {
  display: none; }

body.js .nojs {
  display: none; }

.typo3-admin-recordlist [data-area=main], .typo3-admin-recordlist [data-area=actionBar] {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
.typo3-admin-recordlist [data-area=main] {
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width; }
.typo3-admin-recordlist [data-area=actionBar] {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity; }
  .typo3-admin-recordlist [data-area=actionBar]:not(.hiddenActionBar) {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .typo3-admin-recordlist [data-area=actionBar].hiddenActionBar {
    opacity: 0; }
.typo3-admin-recordlist [data-area=actionBar] a {
  display: block; }
.typo3-admin-recordlist [data-area=records] .typo3-admin-active {
  background-color: red; }
