// Layouting
.t3-expose-form {
	// Style definitions can follow here as we need them
	.t3-expose-inline {
		margin: 20px;
		table {
			.control-group { margin: 0; }
			.control-group > label { display: none; }
			.controls { margin-left: 0; }
			.controls input, select { width: 130px; }
			th { border-top: none; }
		}

		& > h5 {
			margin-bottom: 0;
		}

		.t3-expose-inline-item {
			padding-top: 10px;
			padding-bottom: 20px;
		}

		.close {
			margin-right: 20px;
			line-height: 10px;
		}
	}

	.t3-expose-inline-item {
		.close {
			display: none;
		}
	}

	.t3-expose-inline-multiple {
		.t3-expose-inline-item {
			.close {
				display: block;
			}
		}

		.t3-expose-inline-item-template,
		.t3-expose-inline-item-unused {
			.close {
				display: none;
			}
		}
	}

	.t3-expose-inline-seamless {

	}

	.t3-expose-section,
	.t3-expose-page {
		margin: 0;
	}

	.form-navigation {
		ul,
		li {
			list-style: none;
		}
	}
}




// Theming
@mixin box {
	background:#ffffff;
	border:1px solid #c0c0c0;
	-moz-box-shadow:#cccccc 0px 3px 5px;
	-webkit-box-shadow:#cccccc 0px 3px 5px;
	box-shadow:#cccccc 0px 3px 5px;
}

.t3-expose-form {
	@include box;

	fieldset > h5 {
		background: #EFF5F8;
		border-bottom: 1px solid #CCC;
		border-top: 1px solid #CCC;
		padding: 0.5em 20px;
		text-shadow: white 0px 1px;
		margin-top: -1px;
	}

	.t3-expose-inline {
		@include box;

		& > h5 {
			background: whiteSmoke;
		}

		.t3-expose-inline-item {
			border-bottom: 1px solid #DDD;
		}

		.t3-expose-inline-item-unused {
			background: #FAFAFA;
		}

		.control-group {
			margin: 10px 20px 0;
		}
	}

	.t3-expose-inline-seamless {
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}