body:not(.js) .js {
	display: none;
}
body.js .nojs {
	display: none;
}

.t3-ui {
	.nav-list {
		ul {
			padding: 0;
		}
		li a { margin: 0px; }
		li a { padding-left: 10px; }
		li li a { padding-left: 20px; }
		li li li a { padding-left: 30px; }
	}
	 
	.bar {
		padding: 0 0 15px;
		height: 30px;
		.pull-left {
			margin-right: 10px;
		}
		.pull-right {
			margin-left: 10px;
		}
	}

}

