@import "compass/css3/transition";

.t3-ui .container {
	width: auto;
}

body:not(.js) .js {
	display: none;
}
body.js .nojs {
	display: none;
}
.typo3-expose-recordlist {
	[data-area=main], [data-area=actionBar] {
		@include transition-duration(0.2s);
	}
	[data-area=main] {
		@include transition-property(width);
	}
	[data-area=actionBar] {
		@include transition-property(opacity);

		&:not(.hiddenActionBar) {
			@include transition-delay(0.2s);
		}
		&.hiddenActionBar {
			opacity: 0;
		}
	}

	[data-area=actionBar] a {}

	[data-area=records] .typo3-expose-active {
	}
}


.t3-ui {
	.t3-records > .well {
		margin-right: 10px;
		border-color: #B3B3B3;
	}

	.t3-records > .typo3-expose-active {
		background: #eee;
		margin-right: 0px;
		border-right: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		z-index: 10;
		position: relative;
		margin-right: -1px;
	}

	.nav-list {
		padding: 0;
	}

	.pagination {
		margin: 0;
	}
}