
// Node Tree on left side
.t3-ui .nav-list > li {
	> a {
		text-shadow:none;
		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
	}
	&.active > a, &.active > a:hover {
		background: rgba(255, 255, 255, 0.3);
	}
}

// Node List
.t3-ui .typo3-expose-recordlist {
	// A single node
	.widget {
		background-color: darken(#e8e8e8, 20);
		height: 130px;
		h3 {
			font-size:120%;
		}
		&.typo3-expose-active {
			background-color: #eaeaea;
		}
	}

	& > .span12 {
		position: relative;
	}

	.pagination {
		margin: 0;
		a {
			color: black;
			font-size: 14px;
			line-height: 28px;
		}
	}
}


// Action Bar Styling

@import "compass/css3/transition";

.typo3-expose-recordlist {
	.actionBar {
		position: absolute;
		right: 0;
		width: 152px;
		height: 100%;
		// border: 1px solid red;
		border-left: none;
		background: #E8E8E8;
		border-right: 1px solid #777;
		border-top: 1px solid #777;
		border-bottom: 1px solid #777;
		overflow: hidden;
		z-index: 20;
	}

	.actionBar > div {
		padding: 10px;
	}

	&.hiddenActionBar {
		[data-area=actionBar] {
			opacity: 0;
			display: none;
		}
		[data-area=main] {
			margin-right:0;
		}
	}
	[data-area=main], [data-area=actionBar] {
		@include transition-duration(0.2s);
	}
	[data-area=main] {
		@include transition-property(margin-right);
		margin-right:150px;
	}
	[data-area=actionBar] {
		@include transition-property(opacity);
		opacity: 1;
	}

	.t3-records > .typo3-expose-active {
		background: #eee;
		margin-right: 0px;
		border-right: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		z-index: 10;
		position: relative;
		margin-right: -1px;
	}
}

/*
.t3-ui {
	.t3-records > .well {
		margin-right: 10px;
		border-color: #B3B3B3;
	}

	.t3-records > .typo3-expose-active {
		background: #eee;
		margin-right: 0px;
		border-right: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		z-index: 10;
		position: relative;
		margin-right: -1px;
	}
}

*/