<f:layout name="bootstrap" />
{namespace cm=Foo\ContentManagement\ViewHelpers}

<f:section name="actionbar-left"></f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<cm:link
			class="{action.class}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			target="{action.target}"
			being="{being.class}">
			{action}
		</cm:link>
	</f:for>
</f:section>

<f:section name="content">
	<div class="box centered">
		<h3 class="box-header">Create a new {being.shortName}</h3>
		<div>
			<f:form method="post" action="create" fieldNamePrefix="item" object="{being.object}" enctype="multipart/form-data" class="form-horizontal">
				
				<cm:form.fields being="{being}" />
			
				<div class="actions pull-left">
					<cm:link action="list" being="{being.class}" class="btn" shortcut="esc">
						Cancel
					</cm:link>
				</div>
				<div class="actions pull-right">
					<input type="submit" name="create" value="Create" class="btn primary"/>
				</div>
			</f:form>
		</div>
	</div>
</f:section>
