<f:layout name="bootstrap" />
{namespace cm=Foo\ContentManagement\ViewHelpers}

<f:section name="actionbar-left">
	<form method="post">
	<cm:render partial="Toolbar" fallbacks="Partials"/>
</f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<cm:link
			class="{action.class}"
			shortcut="{action.shortcut}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			target="{action.target}"
			being="{className}">
			{action}
		</cm:link>
	</f:for>
</f:section>

<f:section name="content">
	<cm:query.sort objects="{objects}">
	<cm:query.filter objects="{sortedObjects}">
	<cm:query.search objects="{filteredObjects}">
	<cm:query.paginate objects="{matchingObjects}">
		<f:if condition="{filters}">
		<f:then>
			<div class="pull-right filter-sidebar">
				<cm:render partial="Filters/Right" fallbacks="Partials"/>
			</div>
			<div class="has-sidebar">
		</f:then>
		<f:else>
		</f:else>
			<div>
		</f:if>
				<!--<div class="form-search">
					<input type="text" class="" name="search" value="{search}" />
				    <button type="submit" class="btn">Search</button>
		        </div>-->
				<cm:render partial="Table" fallbacks="Partials" vars="{objects: paginatedObjects, sorting: sorting, listActions: listActions}"/>
				
				<div class="pagination pull-left">
					<cm:render partial="Limits" fallbacks="Partials"/>
					<cm:being className="{className}">
						<cm:render partial="VariantsSelector" fallbacks="Partials" vars="{variant: being.variant, current: 'List'}"/>
					</cm:being>
				</div>
				<div class="pagination pull-right">
					<cm:render partial="Pagination" fallbacks="Partials"/>
				</div>
				
			</div>
	</cm:query.paginate>
	</cm:query.search>
	</cm:query.filter>
	</cm:query.sort>
</f:section>

<f:section name="post-container">
	</form>
</f:section>