<f:layout name="module" />
{namespace cm=Foo\ContentManagement\ViewHelpers}
{namespace form=TYPO3\Form\ViewHelpers}

<f:section name="actionbar-left"></f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<cm:link
			class="{action.class}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			target="{action.target}"
			being="{being.class}">
			{action}
		</cm:link>
	</f:for>
</f:section>

<f:section name="full">
	<div class="box centered">
		<h3 class="box-header">Create a new {being.shortName}</h3>
		<div>
			<cm:render.form object="{object}" targetAction="create"/>
		</div>
	</div>
</f:section>
