<f:layout name="bootstrap" />
{namespace cm=Foo\ContentManagement\ViewHelpers}
{namespace form=TYPO3\Form\ViewHelpers}

<f:section name="actionbar-left"></f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<f:link.action
			class=" {action.class}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			arguments="{
				being : being.class,
				adapter : being.adapter.class,
				id : being.id
			}">
			{action}
		</f:link.action>
	</f:for>
</f:section>

<f:section name="content">
	<div class="box centered">
		<h3 class="box-header">Edit this {bein.shortName}</h3>
		<div>
			<cm:content.form object="{object}" />
		</div>
	</div>
</f:section>